body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    font-size: 16px;
}

#user{
    background-color: moccasin;
}

#admin{
    background-color: cadetblue;
}
#nav{
    margin: auto;  
    height:auto; 
    background-color: #91908a; 
    color:#000; 
    border: 1px solid #000;
    border-radius: 40px;
}

#nav ul{
    text-align: center;
    vertical-align: center;
}

#nav ul li{
    display: inline-block; 
    padding: 8px 25px;
}

#nav ul li a {
    text-decoration: none; 
    color: #000; 
    font-weight: bold;
}

#nav ul li a:hover {
    text-decoration: none; 
    color: rgb(234, 208, 226); 
    font-weight: bold;
}

#welcome {
    font-weight: bolder;
    font-size: 26px;
    text-align: center;
}

#header {
    width: 100%;
    table-layout: fixed ;
}

#hd1{
    width: 70%;
}

#hd2{
    text-align: center;
}

#logovci {
    width: 50%;
    align-items: left;
}

#affmin{
    width: 60%;
    margin-left: -20px;
    margin-right: -20px;
}

#affmin2{
    width: 100%;
    margin-left: -90px;
    margin-right: -90px ;
}

#ent{
    font-weight: bolder;
}

.centerimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tabfilm{
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.tabbutton{
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.tabfilm tr{
    width: auto;
    
}

.tabfilm tr td{
    border: 3px solid lightslategray;
    padding: 10px;
}

.tabsel{
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 3px solid lightslategray;
    background-color: lightskyblue;
}

.tabsel tr{
    width: auto;   
}

.tabsel tr td{
    padding: 10px;
}

.tabctr{
    text-align: center;
    align-items: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.hyperlink{
    text-decoration: underline;
    cursor: pointer;
}

.blue{
    color: blue;
}

#log {
    width: 100%;
    margin: 8px 0;
    padding: 10px 8px;
    display: inline-block;
    box-sizing: border-box;
  }
  
  #btnlogin {
    padding: 4px;
    margin: 8px auto auto auto;
    border: none;
    cursor: pointer;
    width: 30%;
  }

  .container {
    padding: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #a49ba3;
    margin: 4% auto 15% 69.5%; 
    border: 3px solid #888;
    border-radius: 20px;
    width: 30%; 
  }

  #bt{
    text-align: right;
  }